@model Order 
 <h3>Оформлення замовлення</h3>
<div class="allForm-container">
   

    <link href="/css/FindAutoForChange_style.css" rel="stylesheet" /> @* стилі з зміни авто *@

     <div class="form-container">
        <form asp-action="Checkout" method="post" class="form-horizontal">
            
                <label asp-for="name"></label>
                <div class="form-group">
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>

                <label asp-for="surname"></label>
                <div class="form-group">
                    <input asp-for="surname" class="form-control" />
                    <span asp-validation-for="surname" class="text-danger"></span>
                </div>

                <label asp-for="adress"></label>
                <div class="form-group">
                    <input asp-for="adress" class="form-control" />
                    <span asp-validation-for="adress" class="text-danger"></span>
                </div>

                <label asp-for="phone"></label>
                <div class="form-group">
                    <input asp-for="phone" class="form-control" />
                    <span asp-validation-for="phone" class="text-danger"></span>
                </div>

                <label asp-for="email"></label>
                <div class="form-group">
                    <input asp-for="email" class="form-control" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>

                <label >Номер карти</label>
                <div class="form-group">
                    <input  class="form-control" required/>
                    <span  class="text-danger"></span>
                </div>

                <label >Термін придатності</label>
                <div class="form-group">
                    <input  class="form-control" required/>
                    <span  class="text-danger"></span>
                </div>

                <label >cv</label>
                <div class="form-group">
                    <input  class="form-control" required/>
                    <span  class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-success">Завершити замовлення</button>

            
        </form>
    </div>  

</div>