/** {
    margin: 0px;
    padding: 0;
}*/

/* Загальні стилі */

/*body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: #ffffff;
   
}*/




/* Footer */
footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px 10px; /* Зменшуємо відступи */
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 5px 0; /* Зменшуємо відступи між текстом */
    font-size: 14px; /* Зменшуємо розмір шрифту для тексту */
}

footer a {
    font-size: 14px; /* Зменшуємо розмір шрифту для посилань */
}


        footer a:hover {
            color: #ffffff;
            text-decoration: underline;
        }

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}