
<form asp-action="ReturnAuto" asp-controller="SmartReturn" method="Get">
	<button type="submit" class="btn">Поверути авто</button>
</form>

<form>
	<button class="btn">Переглянути статус повернення</button>
</form>
