<div>
	<form  asp-action="FindAutoForChange" asp-controller="AdminZone" method="Get">
		<button type="submit" class="btn">Змінити інформацію про автомобіль</button>		
    </form>

	<form asp-controller="AdminZone" asp-action="AddAuto"  method="Get">
		<button type="submit" class="btn">Додати автомобіль</button>		
    </form>

	<form asp-controller="AdminZone" asp-action="FindAutoForDelete"  method="Get">
		<button type="submit" class="btn">Видалити автомобіль</button>		
    </form>
</div>