

@using Microsoft.AspNetCore.Http
@using System.Text.Json;

@{
    var user = Context.Session.GetString("User");

}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href= "~/css/bootstrap.min.css.map" rel ="stylesheet " tyte = "text/css" />

    <link href= "~/css/main_style.css" rel ="stylesheet " tyte = "text/css" />
    <link href= "~/css/footer_style.css" rel ="stylesheet " tyte = "text/css" />
    <link href= "~/css/header_style.css" rel ="stylesheet " tyte = "text/css" />


</head>
<body>

    <header>




        <ul class="nav">
            <li><a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-secondary">Головна</a></li>
            <li><a href="/ShopCart" class="nav-link px-2 text-white">Вибране</a></li>
            <li><a href="/Cars/List" class="nav-link px-2 text-white">Всі автмобілі</a></li>
            <li><a href="/Cars/List/electro" class="nav-link px-2 text-white">Електро</a></li>
            <li><a href="/Cars/List/fuel" class="nav-link px-2 text-white">Бензинові</a></li>
            <li><a href="/SmartReturn/ListFunc" class="nav-link px-2 text-white">Розумне повернення</a></li>

            @if (user != null)
            {
                User deserializeUser = null;
                try
                {
                    deserializeUser = JsonSerializer.Deserialize<User>(user);
                }
                catch (JsonException ex)
                {
                    Console.WriteLine($"Deserialization error: {ex.Message}");
                }

                if (deserializeUser.isAdmin)
                {
                    <li><a href="/AdminZone/AdminHome" class="nav-link px-2 text-white">Admin</a></li>
                }            
            }
                

        </ul>

        <form class="search" role="search">
            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

       

        <div class="text-end">
            @if (user != null && !string.IsNullOrEmpty(user))
            {
                <form asp-action="Personal_Account" asp-controller="Dashboard" method = "Get"> 
                    <button type="submit" class="btn btn-outline-light me-2" >Особистий кабінет</button>
                </form>

                <form asp-action="Logout" asp-controller="Account" >
                     <button type="submit" class="btn btn-warning">Вийти</button>
                </form>  
            }
            else
            {
                 <form asp-action="Login" asp-controller="Account" method = "Get">
                    <button type="submit" class="btn btn-outline-light me-2" >Login</button>
                </form>

                <form asp-action="SignUp" asp-controller="Account" method = "Get">
                     <button type="submit" class="btn btn-warning">Sign-up</button>
                </form>  
            }
                   
         
        </div>
      
   
  </header>

    <main>
        @RenderBody()
    </main>

 <footer class="container"> 

    <p><a href="#">Back to top</a> </p> 
    <p>© 2025 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p> 
    

  </footer> 

    <script src ="~/js/bootstrap.min.js.map"></script>
</body>
</html>
